<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/video-js.css">
    <link rel="stylesheet" href="css/bigvideo.css">
    <link rel="stylesheet" href="css/jquery.fullPage.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/site.css">

</head>
<body>
    <section id="main" class="container">
        <div class="section">
            <h1>An Awesome Welcome Page</h1>
        </div>

        <div class="section">
            <h1>Most Recent Blog Post</h1>
        </div>

        <div class="section">
            <h1>All My Awesome Projects</h1>
        </div>

        <div class="section">
            <h1>Contact Me!</h1>
        </div>
    </section>

    <script src="js/EventEmitter.js"></script>
    <script src="js/eventie.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/angularfire.js"></script>
    <script src="js/video.js"></script>
    <script src="js/bigvideo.js"></script>
    <script src="js/jquery.fullPage.js"></script>
    <script src="js/site.js"></script>
</body>
</html>